@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icon\ fonts/icomoon.eot?j5y8s4');
  src:  url('fonts/icon\ fonts/icomoon.eot?j5y8s4#iefix') format('embedded-opentype'),
    url('fonts/icon\ fonts/icomoon.ttf?j5y8s4') format('truetype'),
    url('fonts/icon\ fonts/icomoon.woff?j5y8s4') format('woff'),
    url('fonts/icon\ fonts/icomoon.svg?j5y8s4#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"]::before, [class*=" icon-"]::before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-monitor:before {
  content: "\e901";
  color: #00b2a0;
}
.icon-play:before {
  content: "\e905";
  color: #fff;
}
.icon-speaker:before {
  content: "\e906";
  color: #00b2a0;
}
.icon-vector:before {
  content: "\e904";
  color: #00b2a0;
}
.icon-arrow-up:before {
  content: "\e90";
}
.icon-arrow-left:before {
  content: "\e902";
}
.icon-arrow-right:before {
  content: "\e900";
}
.icon-logo:before {
  content: "\e903";
  color: #00b2a0;
}
