* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
:root {
    --turquoise-color: #00b2a0;
    --turquoise-color-10: #00b2a011 ;
    --turquoise-color-50: #00b2a08c ;
} 

@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,300&family=Montserrat:wght@300;700&family=Open+Sans:wght@300;400;600;700&family=Raleway:wght@700&display=swap');

/* font-family: 'Merriweather', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Raleway', sans-serif; */

html {
    transition: background-color .5s linear;
}

body {
    max-width: 1440px;
    margin: 0 auto;
}
.lock {
    overflow: hidden;
}
.header {
    height: 100vh;
    min-height: 450px;
}

.header__top {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
    transition: all .5s linear;
}
.header__top::before {
    content: '';
    width: 100%;
    height: 100%;

    background-color: #fff;

    position: absolute;
    top: -2px;
    left: 0;
    z-index: 2;
    -webkit-box-shadow: 0px 23px 67px -25px rgba(34, 60, 80, 0.36);
    -moz-box-shadow: 0px 23px 67px -25px rgba(34, 60, 80, 0.36);
    box-shadow: 0px 23px 67px -25px rgba(34, 60, 80, 0.36);
}
.header__top.nav-up {
    /* opacity: 0; */
    /* display: none; */
    transform: translateY(-100%);
    
}
.header__top.nav-down {
    /* opacity: 1; */
    /* display: block; */
    transform: translateY(0);
    
}



.header__top-inner {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
 
    max-width: 1440px;
    margin: 0 auto;
    padding: 25px 50px;

    position: relative;
}

.logo {
    width: 42px;
    height: 42px;
    z-index: 2;
}

.menu {
    display: block;
    background-color: var(--turquoise-color-50); 
    overflow: auto;
    transition: all .3s linear;
}
.menu__list {
    display: flex; 
    position: relative;
    z-index: 2;
}
.menu__list-item {
    margin: 0 11px;
    white-space: nowrap;
}
 
.menu__link {
    text-decoration: none;
    font-family: 'Raleway' sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    color: #373A39;
    padding: 7px 7px;
    cursor: pointer;
}

.header__burger {
    cursor: pointer;
    display: none;
}
.header__burger.active span{
    transform: scale(0);
}
.header__burger.active::before{
    transform: rotate(45deg);
    top: 8px;
}
.header__burger.active::after{
    transform: rotate(-45deg);
    top: 8px;
}

.header__content-inner {
    background-image: url('./img/Header-bg.jpg');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    min-height: 420px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.header__content-title {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 100px;
    line-height: 122px;
    color: #fff;
    text-align: center;

}
._anim-items {
    transform: translateY(30%);
    opacity:0;

    transition: all .5s ease 0s;
}
._anim-items-left {
    transform: translateX(30%);
    opacity:0;

    transition: all .5s ease 0s;
}
._anim-items-left._active {
    transform: translateX(0);
    opacity:1;
}  
._anim-items._active {
    transform: translateY(0);
    opacity:1;
} 
._anim-show {
    transform: translateY(120%);
    opacity: 0;
    transition: all .5s ease 0s;
}
._anim-show._active,
._active ._anim-show  {
    transform: translateY(0);
    opacity: 1;
} 

.header__content-description {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 2.74286px;
    color: #FCBB08;
    text-align: center;
    padding-top: 41px;
    transition: all .5s ease .4s;
}

@media (max-width: 1024px) {
    .header__content-inner {
        /* padding-top: calc(150px + (237 - 150) * ((100vw - 320px) / (1200 - 320))); */
    }
    .header__content-title {
        font-size: calc(50px + (100 - 50) * ((100vw - 320px) / (1200 - 320)));
        line-height: 80px;
    }
    .header__content-description {
        font-size: calc(13px + (16 - 13) * ((100vw - 320px) / (1200 - 320)));  
        padding-top: calc(0px + (41 - 0) * ((100vw - 320px) / (1200 - 320)));
    }
}

.header__content-decor {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 90px;    
    margin-left: auto;
    margin-right: auto;

}
.header__btn-scroll-down {
    width: 26px;
    height: 43px;
    background-color: transparent;
    border: 2px solid #FFFFFF;   
    border-radius: 100px;
    position: relative;
    cursor: pointer;
    outline: none;
}
.header__btn-scroll-down::before {
    position: absolute;
    top: 6px;
    left: 8px;
    content: '';
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background-color: #fff;
    animation: scroll_down_btn-animation 2s infinite;
}

@keyframes scroll_down_btn-animation {
    0% {
    transform: translate(0, 0);
    opacity: 0;
    }
    40% {
    opacity: 1;
      }
    80% {
    transform: translate(0, 20px);
    opacity: 0;
      }
    100% {
    opacity: 0;
      }
}

@media(max-width:768px) {

    .menu{
        padding: 60px 0 120px 0;
        position: fixed;
        /* top: -100%; */
        top: -2000px;
        left: 0;
        width: 100%;
        /* height: 100%; */
        height: 100vh;
    }
    .header__top-inner {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .menu.active {
        top: 75px;
    }
    .menu__list {
        display: block;
    }
    .menu__list li {
        padding: 25px 0;
        text-align: center;
    }
    .menu__link {
        font-size: 40px;
        font-weight: 200;
        color: #fff;
    }
    .menu__list li{
        margin: 0;    
    }
    .menu__list li:hover {
        background-color: var(--turquoise-color-50)   
    }
    .menu__list li:active {
        background-color: var(--turquoise-color);    
    }


    .header__burger {
        display: block;
        position: relative;
        width: 30px;
        height: 22px;
        z-index: 3;
    }

    .header__burger span {
        position: absolute;
        content: '';
        width: 80%;
        height: 3px;
        top: 50%;
        background-color: var(--turquoise-color); 
        transition: all 0.3s ease;
    }
    .header__burger::before {
        position: absolute;
        top: 0;
        content: '';
        width: 100%;
        height: 3px;
        background-color: var(--turquoise-color); 
        transition: all 0.3s ease;
    }
    .header__burger::after {
        position: absolute;
        top: 100%;
        content: '';
        width: 100%;
        height: 3px;
        background-color: var(--turquoise-color); 
        transition: all 0.3s ease;
    }

    .header__btn-scroll-down {
        width: 20px;
        height: 32px;  
        border-radius: 100px;
    }
    .header__btn-scroll-down::before {
        position: absolute;
        top: 5px;
        left: 6px;
        content: '';
        height: 4px;
        width: 4px;
        border-radius: 50%;
        background-color: #fff;
        animation: scroll_down_btn-animation 2s infinite;
    }
    @keyframes scroll_down_btn-animation {
        0% {
        transform: translate(0, 0);
        opacity: 0;
        }
        40% {
        opacity: 1;
        }
        80% {
        transform: translate(0, 15px);
        opacity: 0;
        }
        100% {
        opacity: 0;
        }

    }
}
@media (max-width: 550px) {
    .header__top-inner {
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .menu.active {
        top: 65px;
    }
}
@media (max-height: 500px) {
    
    .header__content-description {
        padding: 0;
    }
}
@media (max-width: 430px) {
    .header__top-inner {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .menu.active {
        top: 45px;
    }
}

/* Блок ABOUT */


.about {
    background: #F6F8FA;
    min-height: 491px;
    /* scroll-margin-top: 92px;
    scroll-snap-margin-top: 92px; */
}
.about__title {
    white-space: nowrap;
}
.container {
    padding: 160px 135px;
}
.about__inner {
    display: flex;
    justify-content: space-between;
}
.title {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 75px;
    color: #242121;
    position: relative;
    letter-spacing: -1.65px;
    
}
/* .title::after {
    position: absolute;
    left: 0;
    top: 88.2px;
    content: '';
    width: 60px;
    border-bottom: 4px solid #FCBB08;
    z-index: 5;
} */
.title__line {
    margin-top: 14px;
    width: 60px;
    border-bottom: 4px solid #FCBB08;
}
.about__text {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    margin-left: 100px;
    color: #373A39;
    /* overflow: hidden; */
}
.menu__link {
    position: relative;
}
.menu__link::before {
    position: absolute;
    bottom: 6px;
    left: 0;
    content: '';
    width: 100%;
    border-bottom: 2px solid #FCBB08; 
    visibility: hidden;
}
.menu__link:hover::before {
    visibility: visible;
}

.link-active {
    position: relative;
}
.link-active::before {
    position: absolute;
    bottom: 15px;
    left: 0;
    content: '';
    width: 100%;
    border-bottom: 2px solid #FCBB08;  
}


@media (max-width: 1440px) {

    .about__text {
        margin-left: calc(60px + (100 - 60) * ((100vw - 1040px) / (1440 - 1024)));
    }
}
    .about__text p:first-child {
    margin-bottom: 25px;
}

@media(max-width: 1024px) {
    
    .title {
        margin-bottom: 30px;
    }
    .container {
        padding: 100px 105px;
    }
    .about__text {
        margin: 0;
    }
    .about__inner {
        display: block;
    }
    .title__line {
        margin-top: 10px;
    }
}

@media(max-width: 1000px) {

    .container {
        padding-top: calc(40px + (100 - 40) * ((100vw - 320px)/(1000 - 320)));
        padding-bottom: calc(40px + (100 - 40) * ((100vw - 320px)/(1000 - 320)));
        padding-right: calc(30px + (105 - 30) * ((100vw - 320px)/(1000 - 320)));
        padding-left: calc(30px + (105 - 30) * ((100vw - 320px)/(1000 - 320)));
    }
}

@media(max-width: 768px) {

    .title {
        font-size: calc(40px + (60 - 40) * ((100vw - 320px)/(768 - 320)));
        text-align: center;
        line-height: calc(50px + (70 - 50) * ((100vw - 320px)/(768 - 320)));
    }
    .about__text {
        text-align: justify;
    }
    .title__line {
        margin: 0 auto;
        margin-top: 10px;
        width: calc(50px + (60 - 50) * ((100vw - 320px)/(768 - 320)));
    }
    .menu__link::before {
        display: none;
    }

}

/* Our Expertise */

.expertise {
    min-height: 877px;
}
.expertise__columns {
    margin: 118px 0 110px 0;
    display: flex;
    justify-content: space-between;
}
.expertise__content {}
.expertise__content-items {
    width: 370px;
    flex-shrink: 0;
}
.expertise__content-item {
    position: relative;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    font-size: 11px;
    line-height: 20px;
    letter-spacing: 1px;
    color: #1D1D1D;
    padding-top: 15px;
    padding-bottom: 44px;
}
.expertise__content-item:last-child {
    padding-bottom: 15px;
}
.expertise__content-percentage-1 {
    position: absolute;
    /* left: 90%; */
}
.expertise__content-percentage-2 {
    position: absolute;
    /* left: 80%; */
}
.expertise__content-percentage-3 {
    position: absolute;
    /* left: 85%; */
}
.expertise__content-item::before {
    display: inline-block;
    content: '';
    top: 10px;
    background: #F0F0F0;
    width: 100%;
    height: 2px;
}
#expertise__progress-line-1{
    position: absolute;
    display: inline-block;
    content: '';
    left: 0;
    top: 27px;
    width: 0;
    height: 2px;
    background: #1D1D1D;
}
#expertise__progress-line-2{
    position: absolute;
    display: inline-block;
    content: '';
    left: 0;
    top: 27px;
    width: 0;
    height: 2px;
    background: #1D1D1D;
}
#expertise__progress-line-3{
    position: absolute;
    display: inline-block;
    content: '';
    left: 0;
    top: 27px;
    width: 0;
    height: 2px;
    background: #1D1D1D;
}

/* .expertise__content-item:first-child::after {
    position: absolute;
    display: inline-block;
    content: '';
    left: 0;
    top: 27px;
    width: 90%;
    height: 2px;
    background: #1D1D1D;
}
.expertise__content-item:nth-child(2)::after {
    position: absolute;
    display: inline-block;
    content: '';
    left: 0;
    top: 27px;
    width: 80%;
    height: 2px;
    background: #1D1D1D;
}
.expertise__content-item:last-child::after {
    position: absolute;
    display: inline-block;
    content: '';
    left: 0;
    top: 27px;
    width: 85%;
    height: 2px;
    background: #1D1D1D;

} */
.expertise__content-text {
    margin-left: 30px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 30px;
    color: #373A39;
    text-align: justify;
}
.expertise__content-text p:first-child {
    margin-bottom: 25px;
}

.expertise__items {
    display: flex;
    justify-content: space-between;
}
.expertise__item {
    width: 285px;
    position: relative;
}
/* Icon size */
.icon-monitor {
    font-size: 50px;    
}

.icon-vector {
    font-size: 50px;
}
.icon-speaker {
    font-size: 50px;
}
.expertise__item + .expertise__item {
    margin-left: 125px;
}
.expertise__item:first-child {
    margin-left: 88px;
}
.expertise__icon {
    position: absolute;
    top: 0;
    left: -88px;
    content: '';
    width: 50px;
    height: 50px;
    

}
.expertise__icon:before {
    padding: 10px;
}

.icon-speaker:hover:before {
    color: #fff;
    background-color: var(--turquoise-color); 
    padding: 10px;
    border-radius: 50%;

    transition: all .1s linear;
}
.icon-monitor:hover:before {
    color: #fff;
    background-color: var(--turquoise-color); 
    padding: 10px;
    border-radius: 50%;

    transition: all .1s linear;
}
.icon-vector:hover:before {
    color: #fff;
    background-color: var(--turquoise-color); 
    padding: 10px;
    border-radius: 50%;

    transition: all .1s linear;
}

/* .expertise__item:first-child:hover {
    background-image: url('./img/icons/vector.svg');
    
}
.expertise__item:nth-child(2)::before {
    background-image: url('./img/icons/monitor.svg');
}
.expertise__item:last-child::before {
    background-image: url('./img/icons/speaker\ copy.svg');
} */

.expertise__item-title {
    padding-bottom: 17px;
    font-family: 'Raleway' sans-serif;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 4.2875px;
    color: #333333;
    white-space: nowrap;
}
.expertise__item-text {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    color: #777777;
    text-align: justify;
} 

@media (max-width:1440px) {

    .expertise__item + .expertise__item {
        margin-left: calc(80px + (125 - 80) * ((100vw - 1040px)/(1440 - 1024)));   
    }
    .expertise__item:first-child {
        margin-left: calc(60px + (88 - 60) * ((100vw - 1040px)/(1440 - 1024)));
    }
    .expertise__icon {
        position: absolute;
        top: 0;
        left: calc(-60px + (-88 + 60) * ((100vw - 1040px)/(1440 - 1024)));
        content: '';
        width: 50px;
        height: 50px;
    }
}
@media (max-width:1204px) {

    .expertise__icon{
        top: -65px;
        left: 50%;
        transform: translateX(-50%);
    }
    .expertise__item + .expertise__item {
        margin-left: 25px;
    }
    .expertise__item:first-child {
        margin-left: 0;
    }
    .expertise__item-title {
        margin-bottom: 5px;
        text-align: center;
    }
}
@media (max-width:1024px) {

    .expertise__content-text {
        text-align:justify
    }
    .expertise__content-items {
        width: calc(280px + (370 - 280) * ((100vw - 768px)/(1024 - 768))); 
    }
    .expertise__columns {
        margin-top: 60px;
    }
}
@media (max-width:880px) {

    .expertise__items {
        flex-direction: column;
    }
    .expertise__item {
        width: inherit;
        padding-bottom: 80px;
        /* margin-bottom: 60px; */
    }
    
    .expertise__item + .expertise__item {
        margin-left: 0;       
    }
    .expertise__item:last-child {
        padding-bottom: 0;
    }
    .expertise__item-title {
        text-align: left;
    }
    .expertise__icon{
        top: -65px;
        left: 27px;
    }

}

@media (max-width:768px) {

    .expertise__columns {
        display: block;
        margin-top: calc(0px + (60 - 0) * ((100vw - 320px)/(768 - 320)));
    }
    .expertise__content-items {
        float: left;
        margin-right: 15px;
    }
    .expertise__content-text {
        margin-left: 0px;
    }
    .expertise__content-item {
        padding-bottom: 15px;
    }
    .expertise__item-title {
        font-size: calc(13px + (14 - 13) * ((100vw - 320px)/(768 - 320)));
    }
}

@media (max-width:655px) { 

    .expertise__content-items {
        width: 240.34px;
    }
}
@media (max-width:560px) { 

    .expertise__columns {
        display: flex;
        flex-direction: column;
    }
    .expertise__content-items {
        width: 100%;
    }

    .expertise__icon{
        top: -65px;
        left: 50%;
        transform: translateX(-50%);
    }
  
    .expertise__item-title {
        margin-bottom: 0;
        text-align: center;
    }


}

/* features */

.features {
    
    background-color: #F6F8FA;
    height: 840px;
}
.features__inner {
    display: flex;
}
.features__img {
    background-image: url('./img/Let’s_make_magic.jpg');
    height: 840px;
    width: 60%;
    min-width: 413px;
}
.features__content {
    margin-top: 101px;
    margin-right: 135px;
    margin-bottom: 180px;
    margin-left: 130px;
    width: 40%;
}
.features__title {
    
}
.features__text {
    margin-top: 90px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    color: #373A39;
    text-align:justify
}
.features__text p:first-child {
    margin-bottom: 25px;
}

@media (max-width: 1440px) {

    .features__content {
        margin-top: calc(75px + (101 - 75) * ((100vw - 1024px)/(1440 - 1024)));
        margin-bottom: 180px;
    }
    .features__text {
        margin-top: calc(45px + (90 - 45) * ((100vw - 1024px)/(1440 - 1024)));
    }
}

@media(max-width:1100px) {

    .features__content {       
    margin-left: calc(75px + (130 - 75) * ((100vw - 1024px)/(1110 - 1024)));
    }
    .features__title {
        font-size: calc(39px + (50 - 39) * ((100vw - 768px)/(1110 - 768)));
        white-space: nowrap;
    }
}

@media (max-width: 1024px) {

    
    .features__content {
        margin-right: calc(30px + (105 - 30) * ((100vw - 320px)/(1024 - 320)));
        margin-left: 75px;
    }
    .features__img {
        min-width:auto;
        background-position: top;
    }
}

@media (max-width: 768px) {

    .features {
        height:unset;
    }
    .features__img {
        display: none;
    }
    .features__content {
        width: 100%;
        margin-right: calc(30px + (79 - 30) * ((100vw - 320px)/(768 - 320)));
        margin-left: calc(30px + (79 - 30) * ((100vw - 320px)/(768 - 320)));
        margin-bottom: 80px;
    }
    .features__text {
        padding: calc(15px + (0 - 15) * ((100vw - 320px)/(768 - 320)));
    }
    .features__title {
        font-size: calc(26px + (60 - 26) * ((100vw - 320px)/(768 - 320)));
    }
}   


/* Portfolio */

.portfolio__slider {
    display: flex;
    align-items: center;
}
.portfolio__menu {
    max-width: 600px;
    overflow: hidden;
    transition: all 0.5s linear;
   
}
.portfolio__items-wrapper {
    list-style-type: none;
    width: 9999px;
    transform: translateX(0);
    transition: transform .5s ease-in-out;
}
.portfolio__menu_item + .portfolio__menu_item {
    margin-left: 40px;
}

.portfolio__menu_item {
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 12px;
    line-height: 75px;
    text-align: right;
    letter-spacing: 2px;
    color: #333333;
    padding: 0 5px;
    /* margin-left: 40px; */
    outline: none;
    cursor: pointer;
}
.portfolio__menu_item:hover {
    color: #9999;
}
.portfolio__menu_item:active {
    color: rgba(214, 124, 124, 0.87);
}

.portfolio__btn{
    text-align: center;
    width: 40px;
    height: 40px;
    border: 0;
    background-color: transparent;
    border-radius: 50%;
    display: none;
    
} 
.portfolio__btn:hover {
    background-color: rgb(221, 221, 221);
    border-radius: 50%;
}
.portfolio__btn:active {
    transform: scale(1.1);
    transition: transform .1s linear;
}
.portfolio__btn_prev{

}
.portfolio__btn_next{

}

.portfolio__btn-more {
    margin-top: 22px;
    background-color: rgb(246, 248, 250);
    width: 100%;
    height: 100px;
    font-family: Montserrat, sans-serif;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    letter-spacing: 1.2px;
    color: rgb(36, 33, 33);
    border-style: none;
    cursor: pointer;

}
.portfolio__btn-more:hover {
    background-color: rgb(219, 219, 219);
}
.portfolio__btn-more:active {
    background-color: rgb(196, 196, 196);
}

.portfolio__head {
    /* padding: 160px 135px; */
}

.portfolio {
    width: 100%;
}
.portfolio__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.portfolio__gallery {

}

.portfolio__items + .portfolio__items {
    margin-top: 22px;
}

.portfolio__items {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1.3fr 0.7fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 22px 22px;
    grid-auto-flow: row;
    grid-template-areas:
        "a c f h"
        "a c f h"
        "a c f h"
        "a c f h"
        "a c f h"
        "a c f h"
        "a d f h"
        "a d f i"
        "a d g i"
        "a d g i"
        "b d g i"
        "b d g i"
        "b e g i"
        "b e g i"
        "b e g i"
        "b e g i"
        "b e g i"
        "b e g i";

        transition: all .5s linear;
    }

    .a { grid-area: a; }

    .b { grid-area: b; }

    .c { grid-area: c; }

    .d { grid-area: d; }

    .e { grid-area: e; }

    .f { grid-area: f; }

    .g { grid-area: g; }

    .h { grid-area: h; }

    .i { grid-area: i; }



.portfolio__col {}
.portfolio__item-img {
    background-color: teal;
    width: 100%;
    height: 100%;

    position: relative;
    
}

.portfolio__img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}


.portfolio__item-title {
    position: absolute;
    white-space: nowrap;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.portfolio__item-descr {
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%,-60%);
}

@media (max-width: 1150px) { 
    .portfolio__menu {
        max-width: 340px;
    }
    .portfolio__btn{
        display: block;
        
    } 
}
@media (max-width: 1024px) {
    .portfolio__items {
        gap: 15px;
    }
    .portfolio__head {
        flex-direction: column;
        align-items: flex-start;
    }
    .portfolio__menu {
        max-width: 600px;
    }
    .portfolio__btn{
        display: none;
        
    } 
    .portfolio__items-wrapper {
        transform: translateX(0);
    }
 }

@media (max-width: 768px) {
    .portfolio__head {
        align-items: center;
    }
    .portfolio__items {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        gap: 15px;
        grid-auto-flow: row;
        grid-template-areas:
            "a a c c f f"
            "a a c c f f"
            "a a c c f f"
            "a a c c f f"
            "a a c c f f"
            "a a c c f f"
            "a a d d f f"
            "a a d d f f"
            "a a d d g g"
            "a a d d g g"
            "b b d d g g"
            "b b d d g g"
            "b b e e g g"
            "b b e e g g"
            "b b e e g g"
            "b b e e g g"
            "b b e e g g"
            "b b e e g g"
            "h h h i i i"
            "h h h i i i"
            "h h h i i i"
            "h h h i i i"
            "h h h i i i"
            "h h h i i i"
            "h h h i i i";
        }
        
        .g { grid-area: g; }
        
        .f { grid-area: f; }
        
        .c { grid-area: c; }
        
        .d { grid-area: d; }
        
        .e { grid-area: e; }
        
        .b { grid-area: b; }
        
        .a { grid-area: a; }
        
        .h { grid-area: h; }
        
        .i { grid-area: i; }
     
        .portfolio__menu {
            max-width: calc(195px + (500 - 195) * ((100vw - 320px)/(768 - 320)));
        }
        .portfolio__btn{
            display: block;
            
        } 
        .portfolio__head {
            padding-bottom: 35px;
        }
        
    }

@media (max-width: 425px) {
    /* body {
        height: 1200px;
    } */
    .portfolio__items {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-auto-columns: 1fr;
        gap: 10px;
        grid-auto-flow: row;
        grid-template-areas:
          "a c"
          "a c"
          "a c"
          "a d"
          "a d"
          "b d"
          "b e"
          "b e"
          "b e"
          "f g"
          "f g"
          "f g"
          "f g"
          "h g"
          "h i"
          "h i"
          "h i"
          "h i";
      }
      
      .a { grid-area: a; }
      
      .b { grid-area: b; }
      
      .c { grid-area: c; }
      
      .d { grid-area: d; }
      
      .e { grid-area: e; }
      
      .f { grid-area: f; }
      
      .g { grid-area: g; }
      
      .h { grid-area: h; }
      
      .i { grid-area: i; }
      
}


/* video */

.video {
    /* position: relative; */
}
/* .container {
    padding: 160px 135px;
} */
.video__quotes-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.video__quotes {
    max-width: 652px;
    font-family: 'Merriweather', serif;
    font-style: italic;
    font-weight: 300;
    font-size: 18px;
    line-height: 36px;
    text-align: center;
    color: #242121;
}
.video__quotes-author {
    margin-top: 50px;
    font-family: 'Merriweather', serif;
    font-style: italic;
    font-weight: 300;
    font-size: 14px;
    line-height: 32px;
    align-items: center;
    text-align: center;
    color: #9E9E9E;
}


.video__container {
    position: relative;

}
.video__body {
    position: relative;
    height: 350px;
    overflow: hidden;
}
.video__content {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    transition: all 1s ease;
}
.video__btn {
    position: absolute;
    border: none;
    background-color: transparent;
    top: 50%;
    transform: translateY(-50%);
    left: 50%;
    font-size: 50px;
    cursor: pointer;
    animation: video__btn 3s infinite;
}
.video__container:hover .video__btn{
    animation-play-state: paused;
    transition: all .5s linear;
} 

.video__container:hover .video__btn::before {
    color: #fff;
    text-shadow: 0px 0px 5px #fff, 0px 0px 5px #fff, 0px 0px 5px #fff;
    transition: all 0.3s linear;
}
.video-popup {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 350px;
    overflow: hidden;
    transform: translate3d(-50%, -50%, 0);
    transition: all 1s ease-in-out;
    visibility: hidden;
    opacity: 0;
    z-index: 5;

}
.video-popup__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: block;
}

.video-popup.visible {
    visibility: unset;
    opacity: 1;

}

.video-popup__body {
/* position: absolute;
top: 0;
left: 0; */


}
.video-popup.visible .video-popup__content {
    visibility: unset;
    width: 100%;
/* transition: all .8s linear; */
}

.video-popup__close {
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    border-radius: 50%;
    background-color: rgba(153, 153, 153, 0.075);
    padding: 15px;
    cursor: pointer;
    transition: opacity .8s linear;
}
.video-popup__close:hover {
    box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
    -4px -4px 6px 0 rgba(116, 125, 136, .2), 
    inset -4px -4px 6px 0 rgba(255,255,255,.5),
    inset 4px 4px 6px 0 rgba(116, 125, 136, .3);

    color: aliceblue;
}

.video-popup.visible .video-popup__close {
    transition: none;
}

@keyframes video__btn {
    0% {
    transform: scale(1) translateY(-50%);
    }
    25% {
    transform: scale(1.2) translateY(-50%);
    }
    50% {
    transform: scale(1) translateY(-50%);
    }
    75% {
    transform: scale(1.2) translateY(-50%);
    } 
    100% {
    transform: scale(1) translateY(-50%);
    }
}
.video-popup__close {

}

@media (max-width:768px) {
    .video-popup.visible .video-popup__content {
        width: 100%;
    } 
}
@media (max-width:600px) {
    .video__container{
        margin-top:  calc(-75px + (0 + 75) * ((100vw - 320px)/(600 - 320)));
        margin-bottom: calc(-75px + (0 + 75) * ((100vw - 320px)/(600 - 320)));
    }
}



/* statistics */

.statistics {
    /* display: none; */
}
.statistics__inner {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: 
    'stat1 stat2 stat3 stat4';

}
.statistics__inner-item {

}

.stat1 {
    grid-area: 'stat1';
}
.stat2 {
    grid-area: 'stat2';
}
.stat3 {
    grid-area: 'stat3';
}
.stat4 {
    grid-area: 'stat4';
}

.statistics__num {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    /* font-size: 60px; */
    line-height: 73px;
    color: #242121;
    text-align: center;
    margin-bottom: 0;
}
.statistics__text {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: var(--turquoise-color); 
    text-align: center;
}

@media (max-width: 768px) {
    .statistics__inner {
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: 
        'stat1 stat2' 
        'stat3 stat4';
    
    }
}

/* slider */

.slider {
    background: #F6F8FA;
    position: relative;
    transition: all 0.5s linear;
    width: 100%;
    user-select: none;
    touch-action: pan-y;
}
.slider img {
    poiner-events: none;
}

.slider__wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.slider__wrapper.grab {
    cursor: grab;
}
.slider__wrapper.grabbing{
    cursor: grabbing;
  }

.slider-track {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}
.slider__item {
    width: 100vw;
    flex: 0 0 auto;
}
.slider__item-title {
    margin-bottom: 32px;
    max-width: 704px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 40px;
    line-height: 52px;
    color: #242121;
    transition: all 0.5s ease;
}
.slider__item-text {
    max-width: 559px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    color: #777777;
}

.slider__control {
    position: absolute;
    top: 50%;
    cursor: pointer;
    border: none;
    background-color: transparent;
    font-size: 30px;
}
.slider__control::before {
    position: absolute;  
}
.slider__control-left {
    left: 76px;
}
.slider__control-right {
    right: 76px;
}
.slider__control:hover {
    transform: scale(1.1);
    color:#777777;
}
.slider__control:active {
    transform: scale(0.9);
    color:var(--turquoise-color); 
}
.pagination-outter{
    width: 130px;
    height: 15px;
    padding: 15px 0;
    cursor: unset;
}
.slider__pagination {
    display: flex;
    align-items: center;
    transition: all 0.5s linear;
}
.slider__circle {
    content: '';
    width: 6px;
    height: 6px;
    border: none;
    border-radius: 50%;
    background: #A2A2A3;
    display: inline-block;
    cursor: pointer;
    transition: all 0.2s linear;
}

.slider__circle:hover {
    background: #242121;
    transform: scale(1.8);   
}
.slider__circle:active {
    background: var(--turquoise-color); 
}
.slider__circle--active {
    transform: scale(1.8); 
    border-radius: 50%;
    background: #242121;
}
.slider__circle--active:hover {
    background: #242121;
    transform: scale(1);   
}
.slider__circle--active:active {
    background: var(--turquoise-color); 
}

.slider__circle + .slider__circle {
    margin-left: 15px;
}
.slider__control-left.disabled,
.slider__control-right.disabled {
    opacity: .25;
    pointer-events: none;
}


@media (max-width:1024px) {
    .slider__control-left {
        left: 35px;
    }
    .slider__item-title {
        max-width: calc(257px + (704 - 257) * ((100vw - 320px)/(1024 - 320)));
    }
    .slider__item-text {
        max-width: calc(257px + (559 - 257) * ((100vw - 320px)/(1024 - 320)));
    }

}
@media (max-width:768px) {
    .slider__control-right {
        right: 50px;
    }
    .slider {
        height: inherit;
    
    }
    .slider__control {
        font-size: 20px;
    }
    .pagination-outter {
        position: static;
        top: unset;
        width: unset;
        margin-top: 15px;
    }
    .slider__pagination {
        position: static;
        justify-content: center;
    }
    .slider__item-title {
        margin-bottom: 28px;
        font-size: 31px;
        line-height: 42px;
    }
    .slider__item-text {
        font-size: 12px;
        line-height: 24px;
    }
}
@media (max-width:550px) {
    .slider__item-title {
        font-size: 23px;
        line-height: 28px;
        text-align: center;
    }
    .slider__item-text {
        max-width: calc(257px + (430 - 257) * ((100vw - 320px)/(550 - 320)));
        text-align: justify;
    }
    .slider__control {
        top: unset;
        bottom: 70px;
    }
}
/* team */

.team {
    
}
.team__items {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
.team__item {}
.team__item-img {
    width: 100%;
}
.team__item-name {
    margin-top: 35px;
    margin-bottom: 12px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #333333;
}
.team__item-position {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 12px;
    line-height: 16px;
    text-align: center;

    color: #C2C2C2;
}
@media (max-width:1024px) {
    .team__items {
        margin-top: 50px;
    }
    .team__item-name {
        margin-top: 20px;
        margin-bottom: 5px;
    }
}
@media (max-width:768px) {

    .team__item-name {
        font-size: 12px;
    }
    .team__item-position {
        font-size: 10px;
    }
}
@media (max-width:550px) {
    .team__items {
        flex-direction: column;
    }
    .team__item-name {
        font-size: 14px;
    }
    .team__item-position {
        font-size: 12px;
    }

}
/* pricing */



.pricing {
    background: #F6F8FA;
}

.pricing__items {
    margin-top: 90px;
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
.pricing__item-container {
    width: 100%;
    
    perspective: 35px;
 
    
}
.pricing__item {
    background: #fff;
    padding: 25px;
    width: 100%;
    min-height: 583px;
    cursor: pointer;
    box-shadow: 2px 2px 50px rgba(0, 0, 0, 0.2);
    transition: transform 0.5s;
    -webkit-transition: transform 0.5s;
    -moz-transition: transform 0.5s;
    -o-transition: transform 0.5s;
    
    
}
.pricing__item-name {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    color: #242121;
    margin-bottom: 8px;
    transition: color 0.3s linear;
}
.pricing__item-rate {
    white-space: nowrap;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 80px;
    line-height: 109px;
    text-align: center;
    color: #242121;
    margin-bottom: 5px;

}

.pricing__price {
    position: relative;
    display: inline-block;
    padding-left: 15px;
}
.pricing__price > span:first-child {
    font-size: 40px;
    position: absolute;
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    color: #242121;
    top: -10px;
    left: -15px;
}
.pricing__price > span:last-child {
    font-size: 20px;
}
.pricing__list {
}
.pricing__list-item {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #242121;
    margin-bottom: 30px;
}
.pricing__cont {
    display: flex;
    justify-content: center;
    margin-top: 70px;
}
.pricing__btn {
    padding: 25px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 1.2px;
    color: #242121;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: color 0.3s linear;
}
.pricing__item-container:hover .pricing__btn, 
.pricing__item-container:hover .pricing__item-name {
    color: var(--turquoise-color);
    text-shadow: 0 0 5px 5px #000;
}
.pricing__item-container:hover .pricing__item {
    background-color: var(--turquoise-color-10);
}

@media (max-width:1024px) {
    .pricing__item-rate {
        font-size: 55px;
    }
    .pricing__price > span:first-child {
        font-size: 30px;
        top: -8px;
        left: -9px;
    }
    .pricing__price > span:last-child {
        font-size: 15px;
    }
    .pricing__btn {
        padding: 25px 15px;
        white-space: nowrap;
        font-size: 13px;
    }
    .pricing__cont {
        margin-top: 50px;
    }
}
@media (max-width:768px) {
    .pricing__items {
        flex-direction: column;
        align-items: center;
    }
    .pricing__item {
        width: 60%;
        margin: 0 auto;
    }
}
@media (max-width:550px) {
    .pricing__item {
        width: 100%;
    }
}

/* contact */

.contact {
    padding-right: 0;
}
.contact__inner {
    display: flex;

}
.contact__content {
    flex-grow: 1;
    margin-top: 135px;
}
.contact__form {
    margin-top: 94px;
    margin-right: 101px;
    display: flex;
    flex-direction: column;
    max-width: 569px;
}
.contact__form-input {
    padding-bottom: 18px;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid #373A39;
    outline: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 3.70909px;

}
.contact__form-input_pricing-plan{
    border: none;
    font-size: 20px;
    color:#000;
    padding-bottom: 0;
}
.contact__form-input_pricing-plan span {
    color: var(--turquoise-color);
    font-weight: 500;
}
.contact__form-input + .contact__form-input {
    margin-top: 32px;
}
.contact__form textarea {
    resize: none;
    min-height: 156px;
    margin-bottom: 40px;

}
.contact__form-btn {
    width: 230px;
    height: 45px;
    background: #242121;
    border: none;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 11px;
    line-height: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 2px;
    color: #FFFFFF;
    position: relative;
    cursor:pointer;
}
.contact__form-btn {

}
.contact__tooltip {
    padding: 16px 15px;
    max-width: 100%;

    position:absolute;
    top: 0;
    left: 0;
    z-index: 2;
    font-family: 'Montserrat', sans-serif;
    background: none repeat scroll 0 0 #222222c7; 
	color: var(--turquoise-color);
	font-size: 1.3em;
	font-weight: bold;
	line-height: 1.5em;
	text-shadow: 4px 4px 5px #000;
	opacity: 0;
    visibility: hidden;
	filter: alpha(opacity=0);  	
	text-align: center;	
	text-transform: none;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease-in-out;
}
.contact__tooltip:after {
	border-color: #222222c7 rgba(0, 0, 0, 0);
	border-style: solid;
	border-width: 15px 15px 0;
	bottom: -15px;
	content: "";
	display: block;
	left: 31px;
	position: absolute;
	width: 0;
}
.contact__tooltip.shown{
    opacity: 1;
    visibility: visible;
    filter: alpha(opacity=100);
    top: -89px;
    z-index: 99;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
    }
.contact__map {
    height: 896px;
    flex-grow: 1;
}
.contact__map iframe {
    height: 100%;
    width: 100%;
}
@media (max-width:1024px) {
    .contact__content {
        margin-top:0;
    }
    .contact__map {
        height: unset;
    }
    .contact__form  {
        margin: 50px 50px 0 0;
    }
}
@media (max-width:768px) {
    .contact {
       padding-right: calc(30px + (105 - 30) * ((100vw - 320px)/(1000 - 320)))
    }
    
    .contact__inner {
        flex-direction: column;
        gap: 30px;
    }
    .contact__form {
        max-width: unset;
    }
    .contact__form  {
        margin: 50px 0 0 0;
    }
    .contact__map {
        height: 400px;
    }
}
@media (max-width: 550px) {
    .contact__form-input {
        font-size: 13px;
    }
    .contact__form-input_pricing-plan {
        font-size: 18px;
    }
    .contact__form-input {
        padding-bottom: 6px;
    }
    .contact__form-input + .contact__form-input {
        margin-top: 20px;
    }
}
@media (max-width: 425px) {
    .contact__form-btn {
        width: unset;
        flex-grow: 1;
    }
}

/* footer */

.footer {
    /* display: none; */
}
.footer__content {
    background: #373A39;
}
.footer__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 110px;
}
.logo--line {
    border-bottom: 2px solid #FCBB08;
    padding-bottom: 60px;
    width: 150px;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo__link {}
.logo__img {}
.footer__social {
    margin-top: 73px;
    margin-bottom: 65px;
}
.footer__social-link {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 4px;
    color: #A8A8A8;    
}
.footer__social-link:hover {
    color: var(--turquoise-color);
}
.footer__social-link + .footer__social-link{
    margin-left: 28px;
}
.footer__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 32px;
    color: #A8A8A8;

}
.footer__address {
    margin-bottom: 20px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 32px;
    color: #A8A8A8;
}
.footer__phone {
    margin-bottom: 20px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 32px;
    color: #A8A8A8;
}
.footer__email {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 32px;
    color: #A8A8A8;
}
.footer__email:hover,
.footer__phone:hover{
    color: var(--turquoise-color);
}
.footer-to__top-btn {
    margin-top: 57px;
    border: none;
    width: 17px;
    height: 17px;
    background-color: transparent;
    background-image: url('./img/icons/angle-up.svg');
    background-repeat: no-repeat;
    animation: footer-to__top-btn-animation 2s infinite;
    cursor:pointer;
    padding: 20px 10px;
}
@keyframes footer-to__top-btn-animation {
    0% {
        opacity: 0;
    }
    80% {
        transform: translate(0, -20px);
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: translate(0, 0px);
    }
}
.footer__copy {
    background: #2A2C2B;
    min-height: 100px;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #CCCCCC;
}
@media (max-width: 768px) {
    .footer__social { 
        display: flex;
        gap: 28px;
        width: 300px;
        flex-wrap: wrap;
    }
    .footer__social-link {
        flex-grow: 1;
    }
    
    .footer__social-link:nth-child(2n) {
        text-align: right;
    }
    .footer__social-link + .footer__social-link{
        margin-left: 0;
    }
    .footer__social {
        margin-top: 50px;
        margin-bottom: 45px;
    }
}
@media (max-width: 550px) {
    .footer__inner {
        padding-top: 80px;
    }
    .footer__phone {
        margin: 0;
    }
    .footer__address {
        margin: 0;
    }
    .footer-to__top-btn {
        margin-top: 80px;
    }
}
@media (max-width: 425px) {
    .footer__social {
        gap: 23px;
        width: 255px;
    }
}
