* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

/* video */
body {
    max-width: 1440px;
    margin: 0 auto;
}
.video {
    
}
/* .container {
    padding: 160px 135px;
} */
.video__quotes-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 433px;
}
.video__quotes {
    max-width: 652px;
    font-family: 'Merriweather', serif;
    font-style: italic;
    font-weight: 300;
    font-size: 18px;
    line-height: 36px;
    align-items: center;
    text-align: center;
    color: #242121;
}
.video__quotes-author {
    margin-top: 50px;
    font-family: 'Merriweather', serif;
    font-style: italic;
    font-weight: 300;
    font-size: 14px;
    line-height: 32px;
    align-items: center;
    text-align: center;
    color: #9E9E9E;
}


.video__container {
    position: relative;
    height: 350px;
    overflow: hidden;

}
.video__body {
    height: 100%;
    

}
.video__content {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.video__btn {
    position: absolute;
    border: none;
    background-color: transparent;
    top: 50%;
    transform: translateY(-50%);
    left: 50%;
    background-image: url('./../../img/icons/play.svg');
    background-size: 100%;
    background-repeat: no-repeat;

    width: 55px;
    height: 65px;
    animation: video__btn 5s infinite
}

@keyframes video__btn {
    0% {
    transform: scale(1) translateY(-50%);

    }
    25% {
    transform: scale(1.3) translateY(-50%);

      }
    50% {
    transform: scale(1) translateY(-50%);

      }
    75% {
    transform: scale(1.3) translateY(-50%);
    } 
    100% {
    transform: scale(1) translateY(-50%);
    }
}
