<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style_video.css">
    <link rel="stylesheet" href="./../../icon-fonts.css">
    <title>Document</title>
</head>
<body>
    <section class="video">
        <div class="video__quotes-text">
           <div class="video__quotes">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
           </div>
           <div class="video__quotes-author">
              Gilbert Hammond
           </div>
        </div>
        <div class="video__container">
            <div class="video__body">
               <video class="video__content" src="./../../video/bg.mp4" autoplay loop auto></video>
            </div>
            <button class="video__btn icon-play"></button>
            <div class="video-popup">
               <div class="video-popup__container">
                  <div class="video-popup__body">
                        <video controls class="video-popup__content" src="./../../video/bg.mp4"></video>
                        <div class="video-popup__close">X</div>
                  </div>
                  <!-- <div class="controls">
                     <button class="controls__btn play" data-icon="P" aria-label="play pause toggle"></button>
                     <button class="controls__btn stop" data-icon="S" aria-label="stop"></button>
                     <div class="timer"><div></div><span aria-label="timer">00:00</span></div>
                     <button class="controls__btn rwd" data-icon="B" aria-label="rewind"></button>
                     <button class="controls__btn fwd" data-icon="F" aria-label="fast forward"></button>
                  </div>    -->
               </div>
            </div>
        </div>

      </section>
     <script src="./video.js"></script>

   </body>
</html>